body {
    background-color: rgb(185, 213, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    padding:0px;
}

h1 {
    background-color:#c6e4ff;
    text-align: center;
    padding-block: 20px;
    border-bottom: 2px solid rgb(142, 166, 184);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 0px;
}

h2 {
    padding-top: 5px;
    margin:0px;
}

p {
    padding-block:px;
    margin:0px;
}

.sorted-column::after {
    content: "↓";
}

.sorted-column-reverse::after {
    content: "￪";
}

#colon {
    display: inline;
}

#content-container {
    display: flex;
    flex-direction: row;
}



#input-container {
    background-color: rgb(185, 213, 255);
    padding: 10px;
    width: 35%;
    border-bottom-left-radius: 20px;
    
}

#server-ip {
    width: 110px;
}

#server-port {
    width: 50px;
}

#log-container {
    width: 65%;
    height:200px;
    padding: 10px;
    border: 2px solid #a6cbdb;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #cae2f8;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(151, 184, 203) rgb(180, 208, 212);
    display: flex;
    flex-direction: column-reverse;
    
}

#log {
    display: flex;
    flex-direction: column;
}

#data-container {
    padding: 10px;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(107, 140, 180);
}