body {
    background-color: rgb(185, 213, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0px;
    padding:0px;
}

h1 {
    background-color:#c6e4ff;
    text-align: center;
    padding-block: 20px;
    border-bottom: 2px solid rgb(142, 166, 184);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 0px;
}

h2 {
    padding-top: 5px;
    margin:0px;
}

p {
    padding-block:px;
    margin:0px;
}

#colon {
    display: inline;
}

#content-container {
    display: flex;
    flex-direction: row;
}



#input-container {
    background-color: rgb(185, 213, 255);
    padding: 10px;
    width: 35%;
    border-bottom-left-radius: 20px;
    
}

#server-ip {
    width: 110px;
}

#server-port {
    width: 50px;
}

#log-container {
    width: 65%;
    height:200px;
    border: 1px solid #ccc;
    border-bottom-right-radius: 20px;
    background-color: #eee;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

#log {
    display: flex;
    flex-direction: column;
}